# === Default Python Ignores ===
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Test files created by script
file_tes_*.txt

# Ignore quarantine contents
quarantine/*

# Virtual Environments (Standard names)
env/
venv/
.venv/

# Package management
*.egg-info/
pip-selfcheck.json

# IDE and Editor files (Optional, but recommended for clean repos)
.idea/      # PyCharm/IntelliJ files
.vscode/    # VS Code files

# === Project-Specific Ignores (Security & Data) ===
# File yang mengandung kunci API rahasia (PENTING!)
.env
.env.development
.env.production
.env.local

# File cache hasil scanning lokal yang berisi Hash
scan_cache.txt

# Log Files
*.log

# Build artifacts
build/
dist/
*.egg-info/
# === HashShield v2.0 Specifics ===
# 1. Heavy Databases (Too big for GitHub)
src/main.cvd
src/*.hdb
src/*.ndb

# 2. Live Malware Zone (DO NOT UPLOAD MALWARE TO GITHUB)
live_malware_test/
virus.txt

# 3. Temporary Test Scripts (Optional, keep if you want)
# inspect_db.py
# hunt_kali_threats.py
